// VARIABLES
:root {

    --font-display: "Ailerons";
    --font-primary: "Exo 2";
    --font-color: 252, 255, 252; // All of these are RGB codes
    --font-color-alt: 80, 57, 116;

    --color-primary: 252, 255, 252;

    --bg-gradient-inner: 90, 139, 183;
    --bg-gradient-outer: 80, 57, 116;

    --rocket-color-main: 252, 255, 252;
    --rocket-color-secondary: 83, 84, 97;
    --rocket-color-planets: 128, 128, 128;
    --rocket-color-moons: 255, 255, 255;
    --rocket-color-stars: 252, 191, 30;
    --rocket-color-flame-top: 255, 255, 255;
    --rocket-color-flame-middle: 252, 204, 99;
    --rocket-color-flame-bottom: 245, 95, 68;

    --btn-font-color: 80, 57, 116;
    --btn-font-color-alt: 252, 255, 252;
    --btn-color: 252, 255, 252;
    --btn-color-hover-top: 252, 204, 99;
    --btn-color-hover-bottom: 245, 95, 68;
    --btn-color-shadow: 0, 0, 0;
}

// CREATE AN (ON HOVER) PROMPT WHEN FIRST ARRIVING TO THE PAGE, IT WILL ASK THE USER WHAT THEM THEY WOULD LIKE

[data-theme="1969"] {

    --font-color: 255, 255, 234;
    --font-color-alt: 47, 37, 25;

    --color-primary: 255, 255, 255;
    --color-secondary: 255, 67, 1;

    --bg-gradient-inner: 0, 0, 0;
    --bg-gradient-outer: 43, 44, 40;

    --rocket-color-main: 255, 255, 255;
    --rocket-color-secondary: 43, 44, 40;
    --rocket-color-planets: 0, 0, 0;
    --rocket-color-moons: 255, 255, 234;
    --rocket-color-stars: 255, 255, 234;
    --rocket-color-flame-top: 255, 255, 255;
    --rocket-color-flame-middle: 255, 255, 255;
    --rocket-color-flame-bottom: 138, 137, 124;

    --btn-font-color: 47, 37, 25;
    --btn-font-color-alt: 255, 255, 234;
    --btn-color: 255, 255, 234;
    --btn-color-hover-top: 138, 137, 124;
    --btn-color-hover-bottom: 43, 44, 40;
    --btn-color-shadow: 255, 255, 234;
}

[data-theme="martian"] {

    --font-color: 244, 140, 6;
    --font-color-alt: 55, 6, 23;

    --color-primary: 244, 140, 6;

    --bg-gradient-inner: 55, 6, 23;
    --bg-gradient-outer: 3, 7, 30;

    --rocket-color-main: 244, 140, 6;
    --rocket-color-secondary: 3, 7, 30;
    --rocket-color-planets: 3, 7, 30;
    --rocket-color-moons: 244, 140, 6;
    --rocket-color-stars: 255, 186, 8;
    --rocket-color-flame-top: 255, 255, 255;
    --rocket-color-flame-middle: 90, 139, 183;
    --rocket-color-flame-bottom: 80, 57, 116;

    --btn-font-color: 55, 6, 23;
    --btn-font-color-alt: 255, 255, 255;
    --btn-color: 244, 140, 6;
    --btn-color-hover-top: 90, 139, 183;
    --btn-color-hover-bottom: 80, 57, 116;
    --btn-color-shadow: 0, 0, 0;
}

$bp-larger: 1200px;
$bp-large: 900px;
$bp-medium: 700px;
$bp-small: 500px;
//

//FONTS
@font-face {
    font-family: Ailerons;
    src: url(../fonts/Ailerons-Regular.otf) format("opentype");
}
@font-face {
    font-family: Polya;
    src: url(../fonts/POLYA.otf) format("opentype");
}
//



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px/16px = 62.5%, making 1rem = 10px

    @media screen and (max-width: $bp-large) {
        font-size: 50%;
    }

    @media screen and (max-width: $bp-small) {
        font-size: 45%;
    }
}

body {
    box-sizing: border-box;
}