// VARIABLES
:root {
    --font-display: "Ailerons";
    --font-primary: "Exo 2";

    --color-primary: #fff;
    --color-alt: rgba(80, 57, 117, 1);
}

$bp-larger: 1200px;
$bp-large: 900px;
$bp-medium: 700px;
$bp-small: 500px;
//

//FONTS
@font-face {
    font-family: Ailerons;
    src: url(../fonts/Ailerons-Regular.otf) format("opentype");
}
@font-face {
    font-family: Polya;
    src: url(../fonts/POLYA.otf) format("opentype");
}
//



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px/16px = 62.5%, making 1rem = 10px

    @media screen and (max-width: $bp-large) {
        font-size: 50%;
    }

    @media screen and (max-width: $bp-small) {
        font-size: 45%;
    }
}

body {
    box-sizing: border-box;
}