// VARIABLES
:root {

}

$bp-medium: 700px;
//

//FONTS
@font-face {
    font-family: Ailerons;
    src: url(../fonts/Ailerons-Regular.otf) format("opentype");
}
@font-face {
    font-family: Polya;
    src: url(../fonts/POLYA.otf) format("opentype");
}
//



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px/16px = 62.5%, making 1rem = 10px

    @media screen and (max-width: $bp-medium) {
        font-size: 45%;
    }
}

body {
    box-sizing: border-box;
}