.container {
    display: grid;
    grid-template-rows: min-content;
    color: rgba(var(--font-color), 1);

    &--landing-page {
        background-image: radial-gradient(circle, rgba(var(--bg-gradient-inner),.9) 0%, rgba(var(--bg-gradient-outer), .9) 100%), url(../images/hero.jpg);
        background-size: cover;
        background-position: center;

        .content {
            display: grid;
            grid-template-columns: 
            [full-start] 1fr [center-start] 
            repeat(8, [col-start] minmax(min-content, 16rem) [col-end] ) 
            [center-end] 1fr [full-end];
            grid-template-rows: repeat(2, 1fr);
            grid-row-gap: 3rem;
            align-items: center;
        
            //TEST
            min-height: calc(100vh - 80px);
            //

            @media screen and (max-width: $bp-medium) {
                grid-template-rows: repeat(3, 1fr);
                grid-row-gap: 0;
            }
        }
    }

    &--photos-page {

    }

    &--audio-page {

    }

    &--mars-page {

    }
}