.btn-duo {
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 22rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    background-color: rgba(var(--btn-color), 1);
    font-family: var(--font-primary);
    font-size: 2.3rem;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    color: rgba(var(--font-color-alt), 1);
    position: relative;
    transition: all .3s;

    &:hover {
        color: rgba(var(--font-color), 1);
        transform: translateY(-3px);

        &::before {
            width: 100%;
            transform: scaleY(1);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 10px;
        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
        background-image: linear-gradient(rgba(var(--btn-color-hover-top), 1), rgba(var(--btn-color-hover-bottom), 1));
        transform: scaleY(0);
        transition: transform .1s, width cubic-bezier(1,0,0,1) .2s .1s, background-color .1s;
    }

    &:active {
        transform: translateY(-1px);
    }

    &__text {
        z-index: 1;
    }

    &--1 {

    }

    &--2 {

    }
}

.btn-wrap {
    transition: all .2s;

    &:hover {
        filter: drop-shadow(0 1rem 2rem rgba(var(--btn-color-shadow), .2));
    }

    &:active {
        filter: drop-shadow(0 .6rem 1.5rem rgba(var(--btn-color-shadow), .3));
    }
}