.nav {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 80px;
    align-items: center;
    justify-self: center;
    width: 95%;
    border-bottom: 1px solid rgba(var(--color-primary), .3);

    @media screen and (max-width: $bp-medium) {
        width: 100%;
        border-bottom: none;
        background-color: var(--color-primary);
    }

    &__logo {
        font-family: var(--font-display);
        font-size: 30px;
        margin-left: calc(20px + 1vw);

        @media screen and (max-width: $bp-medium) {
            color: var(--color-alt);
            z-index: 2;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-column-gap: 3rem;
        grid-column: 3 / 4;
        align-items: center;
        font-family: var(--font-primary);
        font-weight: 300;
        list-style: none;
        margin-right: calc(20px + 1vw);

        @media screen and (max-width: $bp-medium) {
            grid-column: 3 / 4;
            grid-template-columns: max-content;
            grid-row-gap: 2rem;
            justify-items: center;
            opacity: 0;
            margin-right: 0;

            &--active {
                opacity: 1;
                position: absolute;
                width: 100%;
                padding: 4rem 0;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                z-index: 1;
                background-color: var(--color-primary);
                animation: hamburger .8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            }
        }
    }

    &__item {

    }

    &__link {
        font-size: 16px;
        text-transform: uppercase;

        &:link,
        &:visited {
            text-decoration: none;
            color: var(--color-primary);

            @media screen and (max-width: $bp-medium) {
                font-size: 2.5rem;
                color: var(--color-alt);
                
            }
        }
    }
}

.moon-menu {
    cursor: pointer;
    display: none;
    border-radius: 50%;
    margin-right: calc(20px + 1vw);
    background-image: radial-gradient(circle, rgba(90,139,183,.9) 0%, rgba(80, 57, 117, .9) 100%);
    transition: all .8s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    z-index: 2;

    @media screen and (max-width: $bp-medium) {
        grid-column: 5 / 6;
        display: inherit;

        &:active {
            transform: scale(.8);
        }
    }
}