.rocketship {
    grid-column: center-start / col-end 6;
    grid-row: 1 / -1;
    width: 150%;
    margin: 0 -40%;

    @media screen and (max-width: $bp-medium), screen and (min-width: $bp-small) {
        width: 120%;
        margin: 1rem -25%;
    }

    &__craft {
        
        &--main {
            fill: rgba(var(--rocket-color-main), 1);
        }

        &--main-2 {
            fill: rgba(var(--rocket-color-main), 1);
            filter: brightness(90%);
        }

        &--secondary {
            fill: rgba(var(--rocket-color-secondary), 1);
        }
    }

    &__planet {
        stop-color: rgba(var(--rocket-color-planets), 1);
    }

    &__moon {
        fill: rgba(var(--rocket-color-moons), 1);
    }

    &__star {
        fill: rgba(var(--rocket-color-stars), 1);
    }

    &__flame {

        &--color-1 {
            stop-color: rgba(var(--rocket-color-flame-top), 1);
        }

        &--color-2 {
            stop-color: rgba(var(--rocket-color-flame-middle), 1);
        }

        &--color-3 {
            stop-color: rgba(var(--rocket-color-flame-bottom), 1);
        }
    }
}

#Ship {
	animation: vibrate 0.25s linear infinite both;
}
#FarLeftFlame, #FarRightFlame {
    animation: pulsate-up 2s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#LeftFlame,#RightFlame {
    animation: pulsate-down .15s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star1 {
    animation: ping 4s linear infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star2 {
    animation: ping 0.8s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star3 {
    animation: ping 1s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star4 {
    animation: ping 2s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star5 {
    animation: ping 3s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star6 {
    animation: ping 4s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star7 {
    animation: ping 3.4s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star8 {
    animation: pin 2.6s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star9 {
    animation: ping 2.6s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star10 {
    animation: ping 3.4s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}
#Star11 {
    animation: ping 4s ease-in-out infinite both;
    transform-origin: center;
    transform-box: fill-box;
}